@font-face {
  font-family: sahel;
  src: url(../fonts/Sahel.eot);
  src: url(../fonts/Sahel.ttf) format("ttf");
  src: url("../fonts/sahel.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: nastaliq;
  src: url(../fonts/IranNastaliq.ttf);
  font-weight: normal;
}

.hanburger-menu .menu, .card-overlay, .card-img {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #262626;
}

body {
  overflow-x: hidden;
}

.hanburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
}

@media (max-width: 800px) {
  .hanburger-menu {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 500px) {
  .hanburger-menu {
    width: 25px;
    height: 25px;
  }
}

.hanburger-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.hanburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  -webkit-transition: all .5s .5s;
  transition: all .5s .5s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media (max-width: 800px) {
  .hanburger-menu .menu-line {
    height: 3px;
  }
}

@media (max-width: 500px) {
  .hanburger-menu .menu-line {
    height: 2px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 70px;
  color: #d3ab55;
  margin-right: 20px;
  width: 110px;
  height: 110px;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .logo {
    font-size: 50px;
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 600px) {
  .logo {
    font-size: 40px;
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 500px) {
  .logo {
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-width: 2px;
  }
}

.main-name {
  font-family: sahel, tahoma;
  font-size: 50px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
}

@media (max-width: 1000px) {
  .main-name {
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  .main-name {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .main-name {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .main-name {
    font-size: 25px;
    text-align: center;
  }
}

.sub-name {
  font-family: sahel, tahoma;
  font-size: 18px;
  color: #bbb;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
}

@media (max-width: 800px) {
  .sub-name {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .sub-name {
    font-size: 14px;
  }
}

.main-heading {
  font-family: nastaliq, tahoma;
  font-size: 100px;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 40px;
}

@media (max-width: 1600px) {
  .main-heading {
    font-size: 80px;
  }
}

@media (max-width: 1000px) {
  .main-heading {
    font-size: 60px;
  }
}

@media (max-width: 500px) {
  .main-heading {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.sub-heading {
  font-family: sahel, tahoma;
  font-size: 60px;
  font-weight: 300;
  color: #bbb;
}

@media (max-width: 1600px) {
  .sub-heading {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1300px) {
  .sub-heading {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1000px) {
  .sub-heading {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .sub-heading {
    font-size: 25px;
  }
}

.main-btn {
  width: 170px;
  height: 45px;
  font-family: sahel, tahoma;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main-btn:hover {
  background-color: #d3ab55;
  color: #262626;
}

@media (max-width: 800px) {
  .main-btn {
    width: 150px;
    height: 35px;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .main-btn {
    width: 130px;
    height: 30px;
    font-size: 10px;
  }
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}

.card:hover .card-overlay {
  left: 0;
}

.card-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: -100%;
  color: #fff;
  background-color: rgba(211, 171, 85, 0.6);
  z-index: 10;
  -webkit-transition: left .5s;
  transition: left .5s;
}

.card-overlay-heading {
  font-family: nastaliq, tahoma;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}

@media (max-width: 900px) {
  .card-overlay {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .card-overlay {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .card-overlay {
    display: none;
  }
}

.card-overlay-paragraph {
  font-weight: 300;
  letter-spacing: 2px;
  font-family: sahel, tahoma;
  font-size: 30px;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .card-overlay {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .card-overlay {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .card-overlay {
    display: none;
  }
}

.card-overlay-btn {
  width: 150px;
  height: 40px;
  color: #d3ab55;
  background-color: #fff;
  font-family: sahel, tahoma;
  font-size: 14px;
  border: 1px solid #d3ab55;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .card-overlay-btn {
    font-size: 12px;
    width: 130px;
    height: 30px;
  }
}

@media (max-width: 600px) {
  .card-overlay-btn {
    font-size: 10px;
    width: 100px;
  }
}

@media (max-width: 500px) {
  .card-overlay-btn {
    font-size: 10px;
    width: 90px;
  }
}

.card-img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}

.navbar {
  position: relative;
  z-index: 200;
}

.navbar-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  left: -50vw;
  -webkit-transition: left 0.8s cubic-bezier(1, 0, 0, 1);
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}

@media (max-width: 800px) {
  .navbar-navigation-left {
    display: none;
  }
}

.navbar-navigation-left .left-img {
  width: 50%;
  position: absolute;
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: .7;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .navbar-navigation-left .left-img {
    width: 55%;
  }
}

@media (max-width: 1000px) {
  .navbar-navigation-left .left-img {
    width: 65%;
  }
}

.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}

@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-1 {
    left: 5%;
  }
}

.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}

@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-2 {
    left: 15%;
  }
}

.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}

@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-3 {
    left: 20%;
  }
}

.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #1f1d1d;
  position: fixed;
  right: -50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

@media (max-width: 800px) {
  .navbar-navigation-right {
    width: 100vw;
    right: -100vw;
  }
}

.navbar-navigation .nav-list-item {
  list-style: none;
}

.navbar-navigation .nav-list-link {
  font-weight: 300;
  letter-spacing: 2px;
  font-family: sahel, tahoma;
  font-size: 40px;
  color: #bbb;
  text-decoration: none;
  display: block;
  margin: 20px;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 600px) {
  .navbar-navigation .nav-list-link {
    font-size: 30px;
  }
}

.navbar-navigation .nav-list-link:hover {
  color: #d3ab55;
  letter-spacing: 4px;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  -webkit-transform: rotateZ(-40deg);
          transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  -webkit-transform: rotateZ(40deg);
          transform: rotateZ(40deg);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../images/bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .brand {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .header .brand {
    position: absolute;
    top: 12%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.header-banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-us {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .about-us {
    height: 70vh;
  }
}

.about-us-left {
  width: 40%;
}

@media (max-width: 800px) {
  .about-us-left {
    display: none;
  }
}

.about-us-left img {
  width: 100%;
  opacity: .7;
}

.about-us-right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1300px) {
  .about-us-right {
    padding: 0 35px;
  }
}

@media (max-width: 800px) {
  .about-us-right {
    width: 100%;
  }
}

.about-us-right .main-heading {
  font-size: 60px;
  margin-top: 100px;
}

@media (max-width: 1600px) {
  .about-us-right {
    font-size: 80px;
  }
}

@media (max-width: 1000px) {
  .about-us-right {
    font-size: 60px;
  }
}

@media (max-width: 500px) {
  .about-us-right {
    font-size: 40px;
  }
}

.about-us .sub-heading {
  font-size: 40px;
  margin-bottom: 20px;
}

@media (max-width: 1600px) {
  .about-us .sub-heading {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1300px) {
  .about-us .sub-heading {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1000px) {
  .about-us .sub-heading {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .about-us .sub-heading {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.about-us .stars {
  margin: -5px 0;
}

@media (max-width: 1000px) {
  .about-us .stars {
    margin: 15px 0;
  }
}

.about-us .star {
  font-size: 15px;
  color: #d3ab55;
  margin-left: 10px;
}

@media (max-width: 1000px) {
  .about-us .star {
    font-size: 12px;
  }
}

.about-us .description {
  font-family: nastaliq, tahoma;
  font-size: 25px;
  color: #bbb;
  direction: rtl;
  text-align: justify;
}

.about-us .description::first-letter {
  padding-right: 30px;
}

@media (max-width: 1600px) {
  .about-us .description {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .about-us .description {
    font-size: 14px;
  }
}

.gallery .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 155px !important;
}

.footer {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 500px) {
  .footer {
    padding: 40px 0;
  }
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

@media (max-width: 500px) {
  .footer .social-media {
    width: 200px;
    margin-bottom: 40px;
  }
}

.footer .social-media-item {
  list-style: none;
}

.footer .social-media-link {
  text-decoration: none;
  font-size: 50px;
  color: #bbb;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}

.footer .social-media-link:hover {
  color: #d3ab55;
}

@media (max-width: 1000px) {
  .footer .social-media-link {
    font-size: 35px;
  }
}

.footer-copyright-paragraph {
  font-family: sahel, tahoma;
  font-size: 20px;
  color: #bbb;
  direction: rtl;
}

@media (max-width: 800px) {
  .footer-copyright-paragraph {
    width: 70%;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .footer-copyright-paragraph {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */