$color-dark: #262626;
$color-black: #000;
$color-primary: #d3ab55;
$color-secondary: #bbb;

$font-dancingScript : "dancing script",
cursive;
$font-josefinSans : "Josefin Sans",
sans-serif;
$font-nunito: "nunito",
sans-serif;
$font-sahel: sahel,
tahoma;
$font-nastalia: nastaliq,
tahoma;
$color-white : #fff;



@font-face {
    font-family: sahel;
    src: url(../fonts/Sahel.eot);
    src: url(../fonts/Sahel.ttf) format("ttf");
    src: url("../fonts/sahel.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: nastaliq;
    src: url(../fonts/IranNastaliq.ttf);
    font-weight: normal;
}







@mixin flexlayuot {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textstyles {
    font-weight: 300;
    letter-spacing: 2px;
}

@mixin centering ($topvalue) {
    position: absolute;
    top: $topvalue;
    left: 50%;
    transform: translate(-50%, -50%);
}

%fullspace{
    width: 100%;
    height: 100%;
}




* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $color-dark;
}